<h2>Cars List</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Marca</th>
            <th>Colore</th>
            <th>Carburante</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr class="text-primary" *ngFor="let car of cars">
            <td> {{car.marca}} </td>
            <td> {{car.colore}} </td>
            <td> {{car.carburante}} </td>
            <td>
                <button class="btn btn-info" (click)="updateCar(car.id)">Modifica</button>
                <button class="btn btn-danger" style="margin-left: 10px;" (click)="deleteCar(car.id)">Elimina</button>
            </td>
        </tr>
    </tbody>
</table>
